<div class="padded grey-bg-2" style="height:500px">
  <div class="frame">
    <div class="face">
      <div class="features">
        <div class="left eye-brow"></div>
        <div class="right eye-brow"></div>
        <div class="left eye" id="left-eye"><i><b></b></i></div>
        <div class="right eye" id="right-eye"><i><b></b></i></div>
        <div class="glasses"><i></i></div>
        <div class="nose">
          <i></i>
        </div>
        <div class="lips">
          <div class="top lip"></div>
          <div class="bottom lip"></div>
        </div>
      </div>
      <div class="left hair"></div>
      <div class="right hair"></div>
      <div class="left ear"></div>
      <div class="right ear"></div>
    </div>
    <div class="neck"></div>
    <div class="shirt">@ValeriaVG</div>
  </div>
  <link type="text/css" rel="stylesheet" href="{{ site.url }}/css/portrait.css" />
  <script src="{{ site.url }}/js/portrait.js"></script>
</div>
